# Importing the dependencies

In [1]:
pip install --upgrade matplotlib

Requirement already satisfied: matplotlib in c:\users\sonali\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: packaging>=20.0 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (21.0)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: pillow>=8 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (6.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\sonali\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six in c:\users\sonali\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\sonali\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)

In [1]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\sonali\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\sonali\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sonali\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\sonali\anaconda3\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sonali\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sonali\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)

In [1]:
pip install numexpr --upgrade

Requirement already satisfied: numexpr in c:\users\sonali\anaconda3\lib\site-packages (2.8.7)
Requirement already satisfied: numpy>=1.13.3 in c:\users\sonali\anaconda3\lib\site-packages (from numexpr) (1.22.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)

In [2]:
pip install --upgrade bottleneck==1.3.4

Requirement already satisfied: bottleneck==1.3.4 in c:\users\sonali\anaconda3\lib\site-packages (1.3.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\sonali\anaconda3\lib\site-packages (from bottleneck==1.3.4) (1.22.4)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\sonali\anaconda3\lib\site-packages)

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from pandas.api.types import is_sparse

In [4]:
#loading the dataset 

creditcard_data = pd.read_csv(r"C:\Parul University\3rd sem/creditcard.csv")

In [5]:
 creditcard_data.head()
    
# this dataset is converted all the feature through PCA(principle component analysis) method so we have all the value in numeric terms.
# here in class column the 0 refers to legit transactions and 1 refers to fraud.

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
  creditcard_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [7]:
creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
#checking for null values in the dataset

creditcard_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# distribution of legit transactions and fraud transaction

creditcard_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [10]:
# As we can clearly see that this is very unbalance dataset where we have only two classes and more then 90% of data are in 1 class
# so we can't feed this for machine learning  model if we do so then the prediction will give the  legit transaction as the 0 have more data than 1

In [11]:
#seperating the data for analysis

legit=  creditcard_data[ creditcard_data.Class ==0]
fraud =  creditcard_data[ creditcard_data.Class ==1]

In [12]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [13]:
#statistical measures of the data

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
# compare the values for both the transaction

creditcard_data.groupby('Class').mean()

#we can see the diffence is very large.

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Now we will build a sample dataset where we get similar distribution of legit and fraud transaction.
fraud transaction---->492

In [16]:
legit_sample = legit.sample(n=492)

### concatentaing two dataset

In [17]:
new_ds = pd.concat([legit_sample,fraud], axis=0)

In [18]:
new_ds.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
15249,26604.0,-2.350813,-2.140080,2.743522,-1.208296,0.895700,-1.592850,-1.080124,-0.169104,0.034451,...,0.247356,0.901391,-0.124289,0.433725,0.641691,-0.163633,-0.085444,0.149093,33.67,0
46228,42692.0,-1.115682,1.171526,1.559351,1.258267,-0.182810,0.281267,0.129538,0.650187,-0.827468,...,0.073526,0.172732,-0.248041,0.233792,0.381122,-0.170196,-0.159861,-0.004392,10.22,0
270781,164247.0,1.958581,0.728654,-1.524196,3.624648,1.084083,-0.254811,0.743126,-0.226641,-1.595313,...,0.146100,0.471510,-0.067093,-0.333348,0.430771,0.172783,-0.083397,-0.081123,6.83,0
70066,53693.0,1.212817,0.309481,0.278839,0.643197,-0.180087,-0.601571,0.013002,-0.068436,0.020312,...,-0.259229,-0.711081,0.158016,0.035459,0.145101,0.123912,-0.006262,0.027564,1.98,0
55499,46971.0,1.096176,-0.102666,0.751085,1.456418,-0.783220,-0.281086,-0.308102,0.181630,0.575673,...,-0.028617,-0.011592,-0.079753,0.509371,0.569642,-0.324055,0.019765,0.013910,25.00,0

In [19]:
new_ds.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [20]:
new_ds['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [21]:
new_ds.groupby('Class').mean()

#as we see the nature of dataset is not changed

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95134.333333,-0.064576,-0.059409,-0.079561,0.089093,-0.009314,-0.037819,0.030693,-0.050006,0.023328,...,0.005457,-0.068499,0.030845,0.045304,0.014265,0.002688,-0.023364,0.011778,0.052960,100.448333
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Splitting the data into features and targets

In [22]:
X = new_ds.drop(columns='Class' , axis=1)
Y = new_ds['Class']

In [23]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
15249    26604.0 -2.350813 -2.140080  2.743522 -1.208296  0.895700 -1.592850
46228    42692.0 -1.115682  1.171526  1.559351  1.258267 -0.182810  0.281267
270781  164247.0  1.958581  0.728654 -1.524196  3.624648  1.084083 -0.254811
70066    53693.0  1.212817  0.309481  0.278839  0.643197 -0.180087 -0.601571
55499    46971.0  1.096176 -0.102666  0.751085  1.456418 -0.783220 -0.281086
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
15249  -1.080124 -0.169104  0.034451  ...  0.791944  0.247356  0.901391
46228   0.129538  0.650187 -0.827468  ... -0.132060  0.073526  0.172732
270781  0.743126 -0.226641 -1.595313  ... -0.298168  0.146100  0.471510
70066   0.013002 -0.068436  0.020312  ... -0.108538 -0.259229 -0.711081
55499  -0.308102  0.181630  0.575673  ... -0.250539 -0.028617 -0.011592
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
15249  -0.124289  0.433725  0.641691 -0.163633 -0.085444  0.149093   33.67
46228  -0.248041  0.233792  0.381122 -0.170196 -0.159861 -0.004392   10.22
270781 -0.067093 -0.333348  0.430771  0.172783 -0.083397 -0.081123    6.83
70066   0.158016  0.035459  0.145101  0.123912 -0.006262  0.027564    1.98
55499  -0.079753  0.509371  0.569642 -0.324055  0.019765  0.013910   25.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [24]:
print(Y)

15249     0
46228     0
270781    0
70066     0
55499     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

### Split the data into train and test data

In [25]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y, random_state=2)

In [26]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

### Model training
mainly we use logistic regression model for binary classifiction model

In [27]:
model = LogisticRegression()

In [28]:
# train the data

model.fit(X_train,Y_train)

LogisticRegression()

### Model Evalution 
Accuracy score

In [29]:
# accuracy on traing data

X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)

In [30]:
print('Accuracy on Training data : ',training_data_accuracy )

Accuracy on Training data :  0.9123252858958069

In [31]:
   #accuracy on test data
    
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [32]:
print('Accuracy on Test Data: ',test_data_accuracy)

Accuracy on Test Data:  0.9187817258883249

In [ ]:
#Project Complete